@model List<MCU_GroupTen.Models.Cart>
@{
    ViewBag.Title = "訂單查詢";
    int ID = 0;
    int count = 1;
    int Fcount = 1;
}
<body>
    <style>
        body {
            background-color: #e5ffe5;
            font-family: 'Open Sans', sans-serif;
        }

        div {
            /* 字體屬性 */
            font-family: Arial;
            font-style: normal;
            font-weight: 600;
        }

        body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
            font-family: Microsoft YaHei,'宋體', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        }
    </style>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-2 sidenav hidden-xs">
                <h2>會員專區</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="@Url.Action("Member_Center", "Member")">會員中心</a></li>
                    <li>
                        <a href="@Url.Action("Member_Order", "Member")">
                            (已完成/正在進行中) <br />
                            訂單查詢
                        </a>
                    </li>
                    <li><a href="@Url.Action("Member_Questions", "Member")">常見問題</a></li>
                    <li><a href="@Url.Action("Member_Change", "Member")">修改密碼</a></li>
                    <li><a href="@Url.Action("Logout", "Member")">登出</a></li>
                </ul><br>
            </div>
            <div class="col-sm-8">
                <br />
                <br />
                <h2>訂單紀錄(正在進行)</h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            if (Model[i].Order_Status == "1")
                            {
                                if (i > 0)
                                {
                                    if (Model[i].Order_ID != Model[i - 1].Order_ID)
                                    {
                                        ID = Model[i].Order_ID;
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h2 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#@ID">第 @count 筆訂單</a>
                                                </h2>
                                                @{
                                                    count++;
                                                }
                                            </div>
                                            <div id="@ID" class="panel-collapse collapse in">
                                                @for (var j = i; j < Model.Count; j++)
                                                {
                                                    if (Model[j].Order_ID == Model[i].Order_ID)
                                                    {
                                                        <div class="panel-body">
                                                            <div class="col-sm-3">
                                                                <h3>商品照片</h3>
                                                                <a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">
                                                                    <img src="@DisplayImage(Model[j].Product_Picture)" class="img-responsive" style="width:max-content;height:150px">
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <h3>商品名稱</h3>
                                                                <p style="font-size:20px"><a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Product_Name)</a></p>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3>商家名稱</h3>
                                                                <p style="font-size:20px"><a href="@Url.Action("Store", "Proshop", new { Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Store_Name)</a></p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>規格</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Spec)</p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>單價</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Price)</p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>數量</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Count)</p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>總計</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Order_Amount)</p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    @if (Model[i].Order_Pay_Way == "home")
                                                    {
                                                        <div class="col-sm-6 text-left">
                                                            <h4>付款方式:貨到付款</h4>
                                                        </div>
                                                    }
                                                    <div class="col-sm-6 text-right">
                                                        <h4>備註:@Html.DisplayFor(modelItem => Model[i].Order_Note)</h4>
                                                    </div>
                                                    @if (Model[i].Order_Delivery_Way == "home")
                                                    {
                                                        <div class="col-sm-6 text-left">
                                                            <h4>運送方式:宅配到家</h4>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <a type = "button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                        </div>
                                                    }
                                                    else if (Model[i].Order_Delivery_Way == "7-11")
                                                    {
                                                        <div class="col-sm-6 text-left">
                                                            <h4>運送方式:7-11超商自取</h4>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                        </div>
                                                    }
                                                    else if (Model[i].Order_Delivery_Way == "family")
                                                    {
                                                        <div class="col-sm-6 text-left">
                                                            <h4>運送方式:全家超商自取</h4>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                        </div>
                                                    }
                                                    else if (Model[i].Order_Delivery_Way == "OK")
                                                    {
                                                        <div class="col-sm-6 text-left">
                                                            <h4>運送方式:OK超商自取</h4>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                        </div>
                                                    }
                                                    <div class="col-sm-12">
                                                        <div class="col-sm-6 text-left">
                                                            <h4>訂單編號:@Html.DisplayFor(modelItem => Model[i].Order_ID)</h4>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <h4>總金額:@Html.DisplayFor(modelItem => Model[i].Order_Total_Amount)</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    }

                                }
                                else
                                {
                                    ID = Model[i].Order_ID;
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@ID">第 @count 筆訂單</a>
                                            </h2>
                                            @{
                                                count++;
                                            }
                                        </div>
                                        <div id="@ID" class="panel-collapse collapse in">
                                            @for (var j = 0; j < Model.Count; j++)
                                            {
                                                if (j > 0)
                                                {
                                                    if (Model[j].Order_ID != Model[j - 1].Order_ID)
                                                    {
                                                        break;
                                                    }
                                                }
                                                <div class="panel-body">
                                                    <div class="col-sm-3">
                                                        <h3>商品照片</h3>
                                                        <a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">
                                                            <img src="@DisplayImage(Model[j].Product_Picture)" class="img-responsive" style="width:max-content;height:150px">
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <h3>商品名稱</h3>
                                                        <p style="font-size:20px"><a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Product_Name)</a></p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h3>商家名稱</h3>
                                                        <p style="font-size:20px"><a href="@Url.Action("Store", "Proshop", new { Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Store_Name)</a></p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>規格</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Spec)</p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>單價</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Price)</p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>數量</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Count)</p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>總計</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Order_Amount)</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                @if (Model[i].Order_Pay_Way == "home")
                                                {
                                                    <div class="col-sm-6 text-left">
                                                        <h4>付款方式:貨到付款</h4>
                                                    </div>
                                                }
                                                <div class="col-sm-6 text-right">
                                                    <h4>備註:@Html.DisplayFor(modelItem => Model[i].Order_Note)</h4>
                                                </div>
                                                @if (Model[i].Order_Delivery_Way == "home")
                                                {
                                                    <div class="col-sm-6 text-left">
                                                        <h4>運送方式:宅配到家</h4>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                    </div>
                                                }
                                                else if (Model[i].Order_Delivery_Way == "7-11")
                                                {
                                                    <div class="col-sm-6 text-left">
                                                        <h4>運送方式:7-11超商自取</h4>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                    </div>
                                                }
                                                else if (Model[i].Order_Delivery_Way == "family")
                                                {
                                                    <div class="col-sm-6 text-left">
                                                        <h4>運送方式:全家超商自取</h4>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                    </div>
                                                }
                                                else if (Model[i].Order_Delivery_Way == "OK")
                                                {
                                                    <div class="col-sm-6 text-left">
                                                        <h4>運送方式:OK超商自取</h4>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                    </div>
                                                }
                                                <div class="col-sm-12">
                                                    <div class="col-sm-6 text-left">
                                                        <h4>訂單編號:@Html.DisplayFor(modelItem => Model[i].Order_ID)</h4>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        <h4>總金額:@Html.DisplayFor(modelItem => Model[i].Order_Total_Amount)</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                }
                            }
                        }
                    </div>

                </div>
                <hr />
                <h2>訂單紀錄(已完成)</h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            if (Model[i].Order_Status == "2")
                            {
                                if (i > 0)
                                {
                                    if (Model[i].Order_ID != Model[i - 1].Order_ID)
                                    {
                                        ID = Model[i].Order_ID;
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h2 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#@ID">第 @Fcount 筆訂單</a>
                                                </h2>
                                            </div>
                                            @{
                                                Fcount++;
                                            }
                                            <div id="@ID" class="panel-collapse collapse in">
                                                @for (var j = i; j < Model.Count; j++)
                                                {
                                                    if (Model[j].Order_ID == Model[i].Order_ID)
                                                    {
                                                        <div class="panel-body">
                                                            <div class="col-sm-3">
                                                                <h3>商品照片</h3>
                                                                <a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">
                                                                    <img src="@DisplayImage(Model[j].Product_Picture)" class="img-responsive" style="width:max-content;height:150px">
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <h3>商品名稱</h3>
                                                                <p style="font-size:20px"><a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Product_Name)</a></p>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <h3>商家名稱</h3>
                                                                <p style="font-size:20px"><a href="@Url.Action("Store", "Proshop", new { Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Store_Name)</a></p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>規格</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Spec)</p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>單價</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Price)</p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>數量</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Count)</p>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <h3>總計</h3>
                                                                <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Order_Amount)</p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="panel-footer">
                                                <div class="row">
                                                    @if (Model[i].Order_Pay_Way == "home")
                                                    {
                                                        <div class="col-sm-6 text-left">
                                                            <h4>付款方式:貨到付款</h4>
                                                        </div>
                                                    }
                                                    <div class="col-sm-6 text-right">
                                                        <h4>備註:@Html.DisplayFor(modelItem => Model[i].Order_Note)</h4>
                                                    </div>
                                                    @if (Model[i].Order_Delivery_Way == "home")
                                                    {
                                                        <div class="col-sm-6 text-left">
                                                            <h4>運送方式:宅配到家</h4>
                                                        </div>
                                                        <div class="col-sm-6 text-right">
                                                            <a type="button" style="" class="btn btn-primary" href="@Url.Action("Member_uptOrder", "Member", new { Order_ID = Model[i].Order_ID})">修改訂單</a>
                                                        </div>
                                                    }
                                                    else if (Model[i].Order_Delivery_Way == "7-11")
                                                    {
                                                        <div class="col-sm-12 text-left">
                                                            <h4>運送方式:7-11超商自取</h4>
                                                        </div>
                                                    }
                                                    else if (Model[i].Order_Delivery_Way == "family")
                                                    {
                                                        <div class="col-sm-12 text-left">
                                                            <h4>運送方式:全家超商自取</h4>
                                                        </div>
                                                    }
                                                    else if (Model[i].Order_Delivery_Way == "OK")
                                                    {
                                                        <div class="col-sm-12 text-left">
                                                            <h4>運送方式:OK超商自取</h4>
                                                        </div>
                                                    }
                                                    <div class="col-sm-6 text-left">
                                                        <h4>訂單編號:@Html.DisplayFor(modelItem => Model[i].Order_ID)</h4>
                                                    </div>
                                                    <div class="col-sm-6 text-right">
                                                        <h4>總金額:@Html.DisplayFor(modelItem => Model[i].Order_Total_Amount)</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                        </div>
                                    }
                                }
                                else
                                {
                                    ID = Model[i].Order_ID;
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#@ID">第 @Fcount 筆訂單</a>
                                            </h2>
                                        </div>
                                        @{
                                            Fcount++;
                                        }
                                        <div id="@ID" class="panel-collapse collapse in">
                                            @for (var j = 0; j < Model.Count; j++)
                                            {
                                                if (j > 0)
                                                {
                                                    if (Model[j].Order_ID != Model[j - 1].Order_ID)
                                                    {
                                                        break;
                                                    }
                                                }
                                                <div class="panel-body">
                                                    <div class="col-sm-3">
                                                        <h3>商品照片</h3>
                                                        <a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">
                                                            <img src="@DisplayImage(Model[j].Product_Picture)" class="img-responsive" style="width:max-content;height:150px">
                                                            @functions{
                                                                public string DisplayImage(byte[] imageData)
                                                                {
                                                                    string src = string.Empty;
                                                                    if (imageData != null)
                                                                    {
                                                                        string base64 = Convert.ToBase64String(imageData);
                                                                        src = string.Format("data:image/gif;base64,{0}", base64);
                                                                    }
                                                                    return src;
                                                                }
                                                            }
                                                        </a>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <h3>商品名稱</h3>
                                                        <p style="font-size:20px"><a href="@Url.Action("Product", "Proshop", new { Pid = @Html.DisplayFor(modelItem => Model[j].Product_ID), Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Product_Name)</a></p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h3>商家名稱</h3>
                                                        <p style="font-size:20px"><a href="@Url.Action("Store", "Proshop", new { Sid = @Html.DisplayFor(modelItem => Model[j].Store_ID) })" class="right">@Html.DisplayFor(modelItem => Model[j].Store_Name)</a></p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>規格</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Spec)</p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>單價</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Price)</p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>數量</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Product_Count)</p>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <h3>總計</h3>
                                                        <p style="font-size:20px">@Html.DisplayFor(modelItem => Model[j].Order_Amount)</p>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                @if (Model[i].Order_Pay_Way == "home")
                                                {
                                                    <div class="col-sm-6 text-left">
                                                        <h4>付款方式:貨到付款</h4>
                                                    </div>
                                                }
                                                <div class="col-sm-6 text-right">
                                                    <h4>備註:@Html.DisplayFor(modelItem => Model[i].Order_Note)</h4>
                                                </div>
                                                @if (Model[i].Order_Delivery_Way == "home")
                                                {
                                                    <div class="col-sm-12 text-left">
                                                        <h4>運送方式:宅配到家</h4>
                                                    </div>
                                                }
                                                else if (Model[i].Order_Delivery_Way == "7-11")
                                                {
                                                    <div class="col-sm-12 text-left">
                                                        <h4>運送方式:7-11超商自取</h4>
                                                    </div>
                                                }
                                                else if (Model[i].Order_Delivery_Way == "family")
                                                {
                                                    <div class="col-sm-12 text-left">
                                                        <h4>運送方式:全家超商自取</h4>
                                                    </div>
                                                }
                                                else if (Model[i].Order_Delivery_Way == "OK")
                                                {
                                                    <div class="col-sm-12 text-left">
                                                        <h4>運送方式:OK超商自取</h4>
                                                    </div>
                                                }
                                                <div class="col-sm-6 text-left">
                                                    <h4>訂單編號:@Html.DisplayFor(modelItem => Model[i].Order_ID)</h4>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <h4>總金額:@Html.DisplayFor(modelItem => Model[i].Order_Total_Amount)</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        if ('@ViewData["ummsg"]' != '') {
            swal("成功!", '@ViewData["ummsg"]', "success");
        }
    });
</script>

