@model List<MCU_GroupTen.Models.Proshop>

@{
    ViewBag.Title = "管理商家";
}
<style>
    table {
        border-collapse: collapse;
        width: 770px;
        /*自動斷行*/
        word-wrap: break-word;
        table-layout: fixed;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a type="button" class="btn btn-default" style="" href="@Url.Action("UploadforStore", "BackStoreFS")">新增商家</a>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">商家名稱</th>
                        <th scope="col">所屬商家帳號</th>
                        <th scope="col">商家開始日</th>
                        <th scope="col">商家介紹</th>
                        <th scope="col">商家狀態</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var o in Model)
                    {
                        <tr>
                            <th scope="row">商家資訊</th>
                            <td>@Html.DisplayFor(modelItem => o.Store_Name)</td>
                            <td>@Html.DisplayFor(modelItem => o.Member_Account)</td>
                            <td>@Html.DisplayFor(modelItem => o.Store_Startdate)</td>
                            <td>@Html.DisplayFor(modelItem => o.Store_Introduce)</td>
                            @if (o.Store_Status == 0)
                            {
                                <td>正常上架</td>
                            }
                            else
                            {
                                <td>已下架</td>
                            }
                        </tr>
                        <tr>
                            <th scope="row">商家圖片</th>
                            <td colspan="4">
                                <img src="@DisplayImage(o.Store_Picture)" class="img-responsive" style="width:max-content;height:150px">
                                @functions{
                                    public string DisplayImage(byte[] imageData)
                                    {
                                        string src = string.Empty;
                                        if (imageData != null)
                                        {
                                            string base64 = Convert.ToBase64String(imageData);
                                            src = string.Format("data:image/gif;base64,{0}", base64);
                                        }
                                        return src;
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">其他功能</th>
                            <td colspan="1" style="text-align:right"><a type="button" style="" class="btn btn-default" href="@Url.Action("uptForStore", "BackStoreFS", new { Store_ID = o.Store_ID })">修改</a></td>
                            <td colspan="1" style="text-align:right"><a style="" class="btn btn-danger" onclick="deleteStore(@o.Store_ID)"> 刪除 </a></td>
                            <td colspan="1" style="text-align:right"><a type="button" style="" class="btn btn-primary" href="@Url.Action("SelectforProduct", "BackProductFP", new { Store_ID = o.Store_ID })">所屬商品</a></td>
                            <td colspan="1" style="text-align:right"><a style="" class="btn btn-default" href="@Url.Action("SelectforOrder", "BackOrderFO")"> 所屬訂單 </a></td>
                            <td colspan="1" style="text-align:right">
                                <a style="" class="btn btn-primary" onclick="changednStore(@o.Store_ID)"> 商家下架 </a>
                                <a style="" class="btn btn-primary" onclick="changeupStore(@o.Store_ID)"> 恢復上架 </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        if ('@ViewData["usmsg"]' != '') {
             swal("成功!", '@ViewData["usmsg"]', "success");
        }
        else if ('@ViewData["dels"]' != '') {
             swal("成功!", '@ViewData["dels"]', "success");
        }
        else if ('@ViewData["error_back"]' == '您只能有一個商家!') {
            swal("不好意思!", '@ViewData["error_back"]', "warning");
        }
    });
    function deleteStore(id) {
        swal({
            title: "是否確定刪除?",
            icon: "warning",
            buttons: {
                confirm: {
                    text: "是",
                    value: "true"
                },
                danger: {
                    text: "否",
                    value: "false"
                }
            }
        }).then((value) => {
            if (value == "true") {
                location.href = "/BackStoreFS/delForStore?Store_ID="+id;
            }
            else if (value == "false") {
                location.href = "@Url.Action("SelectforStore", "BackStoreFS")";
            }
        });
    }

    function changeupStore(id) {
        swal({
            title: "是否確定恢復上架?",
            icon: "warning",
            buttons: {
                confirm: {
                    text: "是",
                    value: "true"
                },
                danger: {
                    text: "否",
                    value: "false"
                }
            }
        }).then((value) => {
            if (value == "true") {
                location.href = "/BackStoreFS/chgupStore?Sid="+id;
            }
            else if (value == "false") {
                location.href = "@Url.Action("SelectforStore", "BackStoreFS")";
            }
        });
    }
    function changednStore(id) {
        swal({
            title: "是否確定下架?",
            icon: "warning",
            buttons: {
                confirm: {
                    text: "是",
                    value: "true"
                },
                danger: {
                    text: "否",
                    value: "false"
                }
            }
        }).then((value) => {
            if (value == "true") {
                location.href = "/BackStoreFS/chgdnStore?Sid="+id;
            }
            else if (value == "false") {
                location.href = "@Url.Action("SelectforStore", "BackStoreFS")";
            }
        });
    }
</script>